/* 공통 */
@font-face {
	font-family: "DungGeunMo";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
* {
	box-sizing: border-box;
	color: #fff;
}
body {
	background-color: #000;
}
.wrapper {
	display: flex;
}
.title {
	color: #fff;
	font-size: 45px;
	text-align: center;
	padding: 16px;
	width: 100%;
	height: 78px;
}
.app {
	width: 1695px;
	height: 929px;
	background-color: #000079;
	margin: 0 0 0 20px;
	padding: 29px 124px 38px 99px;
	position: relative;
}
.navbar {
	margin: 29px 24px 0 20px;
}
ul > li {
	display: flex;
	margin-bottom: 25px;
	font-size: 25px;
	align-items: center;
}
ul > li > img {
	margin-right: 15px;
}
.app > div {
	background-color: #bfbfc1;
	border-top: 5px #fff solid;
	border-left: 5px #fff solid;
	border-right: 5px #000 solid;
	border-bottom: 5px #000 solid;
	padding: 2.5px 4px 0 2px;
}
.top-bar {
	width: 100%;
	height: 28px;
	background-color: #0b026b;
	text-align: end;
	padding: 3px 3px 4px 8px;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
}
.top-bar > div > img {
	float: left;
	margin-left: 3px;
}

/* 아날로그 시계 */
.clock-analog {
	width: 453px;
	height: 371px;
}

/* 달력 */
.calendar {
	width: 756px;
	height: 366px;
	position: absolute;
	left: 659px;
	top: 35px;
}

/* 디지털시계 */
.clock-digital {
	width: 453px;
	height: 198px;
	position: absolute;
	top: 387px;
	left: 155px;
}
.clock-digital > .content {
	width: 400px;
	height: 138px;
	border-top: 2px #fff solid;
	border-left: 2px #fff solid;
	border-right: 2px #000 solid;
	border-bottom: 2px #000 solid;
	margin: 11px auto;
}
.time {
	font-size: 80px;
	text-align: center;
	margin-top: 10px;
	color: #000;
}
.date {
	font-size: 25px;
	text-align: center;
	margin-top: 5px;
	color: #000;
}

/* 그림판 */
.canvas {
	width: 453px;
	height: 421px;
	position: absolute;
	left: 659px;
	top: 426px;
}
.canvas > .content {
	width: 290px;
	height: 290px;
	background-color: #fff;
	margin: 20px auto;
}
.palette {
	width: 130px;
	height: 17px;
	background-color: #e2e2e2;
	margin: 15px 0 0 0;
	display: flex;
	justify-content: space-between;
	padding: 2px;
}
.palette > div {
	width: 12px;
	height: 12px;
	border-top: #000 solid 1px;
	border-left: #000 solid 1px;
}
.black {
	background-color: #000;
}
.white {
	background-color: #fff;
}
.gray {
	background-color: #afafaf;
}
.red {
	background-color: #f80406;
}
.yellow {
	background-color: #fefe00;
}
.green {
	background-color: #25fe01;
}
.cyan {
	background-color: #2efefe;
}
.blue {
	background-color: #1a01fe;
}
.magenta {
	background-color: #fb02fe;
}

/* 슬라이더 */
.slider {
	width: 420px;
	height: 421px;
	position: absolute;
	left: 1151px;
	top: 374px;
}

/* 날씨 */
.weather {
	width: 453px;
	height: 224px;
	position: absolute;
	top: 623px;
	left: 99px;
}
.weather > .content {
	display: flex;
	padding: 30px 30px 30px 40px;
}
.weather > .content > div {
	margin-left: 60px;
	margin-top: 10px;
}
.location {
	color: #000;
	font-size: 30px;
	text-align: center;
}
.temperature {
	color: #000;
	font-size: 40px;
	margin-top: 10px;
}
