* {
	box-sizing: border-box;
}
body {
	font-family: "Noto Serif KR", serif;
	background-color: #ffff00;
}
.left-side {
	padding: 60px 0 0 105px;
}
.left-side > p:nth-child(1) {
	padding-left: 259px;
	font-weight: 900;
	font-size: 50px;
}
.bok {
	color: white;
	background-color: #ff0000;
	width: 157px;
	height: 190px;
	clip-path: ellipse(157px 190px);
}
